.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.PstCmp{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.PstCmp div{
    padding: 15px;
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
} 